
//Fontes
$fontPricipal: Roboto, sans-serif;

//Cores
$corDefundo: #f5f6fa;
$colorHeader: #182C61;
$colorButtonPrimaria: #44bd32;
$colorButtonSecundaria: #4cd137;
$colorTextButton: #fff;

//Responsividade

$mobile: 767px;
$tablet: 1024px;
