
@use '../config/variables';



section {
    
    padding: 56px 0;

    .products {
        margin-top: 40px;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, 32.66%);
        column-gap: 1%;
        row-gap: 4%;
        width: 100%;
    
        .product-item img {
            width: 100%;
            border-radius: 16px;
        }
    
        .product-button {
            display: block;
            background-color: variables.$colorButtonPrimaria;
            color: variables.$colorTextButton;
            text-align: center;
            padding: 8px 0;
            border-radius: 8px;
            margin-top: 8px;
            text-decoration: none;
        }

        .product-button:hover {
            background-color: variables.$colorButtonSecundaria;
        }
    }
}


